.greeting{

    &__content{
        background-color: #f4f4f4;
        border-radius: 20px;
        padding: 40px 30px;
        font-size: 16px;
        @media #{$xs} {
            font-size: 18px;
            padding: 48px 35px;
        }
        @media #{$md} {
            font-size: 20px;
            padding: 58px 40px;
        }
        font-family: 'Dokrip', sans-serif;
        color: #727171;
        max-width: 800px;
    }
    &__img{
        border-radius: 10px;
        margin-right: 20px;
        margin-bottom: 20px;
        @media only screen and (min-width: 809px) {
            float: left;
            width: 140px;
        }
    }
}