.footer{
    background-color: #015faa;
    width: 100vw;
    min-height: 100px;

    &__logo{
        img{
            width: 220px;
            @media #{$xs} {
                width: 250px;
            }
        }
        padding: 10px 10px;
        @media #{$md} {
            padding: 12px 15px;
        }
        @media #{$lg} {
            padding: 14px 20px;
        }
    }
    &__info{
        color:white;
        font-size: 14px;
        padding: 10px 10px;
        @media #{$md} {
            font-size: 16px;
            padding: 12px 15px;
        }
        @media #{$lg} {
            font-size: 18px;
            padding: 14px 20px;
        }
    }
}