.overview-schedule{
    padding-top: 80px;
    padding-bottom: 50px;

    &__program{
        @include program-table;
        th{
            background-color: rgba(72, 129, 194, 0.72);
            color: #fff;
            padding: 4px;
            font-weight: bold;
            font-size: 12px;

            @media #{$xs} {
                font-size: 15px;
            }

            @media #{$md} {
                font-size: 20px;
            }
        }
    }
    .yellow {
        background-color: $theme-color-1;
    }

    .blue {
        background-color: $theme-color-2;
    }

    .peach {
        background-color: $theme-color-4;
    }

    .green {
        background-color: $theme-color-3;
    }

    .colorbox{
        width: 40px;
        height: 20px;
        border-radius: 5px;
    }
    .footer-title{
        min-width: 70px;
        @media #{$xs} {
            min-width: 90px;
        }
        @media #{$md} {
            min-width: 120px;
        }
    }
}