.ceremony{
    padding-bottom: 50px;
    &__mainImage{
        width: 100%;
        margin-bottom: 50px;
        img{
            border-radius: 20px;
            @media #{$xs} {
                border-radius: 25px;
            }

            @media #{$md} {
                border-radius: 30px;
            }
        }
    }

    &__program{
        @include program-table;
        .time{
            text-align: start;
            @media #{$max-xs} {
                word-break: break-all; /* 줄바꿈을 강제로 적용 */
                white-space: normal; /* 줄바꿈을 허용 */
                width: 58px;
            }
            @media #{$xs} {
                width: 120px;
            }
            @media #{$md} {
                width: 230px;
            }
        }
    }
}