.peace-garden{
    padding-bottom: 50px;
    &__mainImage{
        img{
            border-radius: 20px;
            @media #{$xs} {
                border-radius: 25px;
            }

            @media #{$md} {
                border-radius: 30px;
            }
        }
    }
    .picnic-zone-guide{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 50px;
    }
    .eco-banner{
        display: flex;
        flex-direction: column;
        max-width: 650px;
        padding: 15px;
        margin-bottom: 15px;
        font-family: 'GodoMaum', sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        color: #de526b;

        &__icon {
            padding-right: 10px;
        }
        .noParking{
            width: 70px;
            @media #{$xs} {
                width: 90px;
            }

            @media #{$md} {
                width: 110px;
            }
        }

        &__text {
            line-height: 2em;
            font-size: 13px;
            @media only screen and (min-width: 370px) {
                font-size: 17px;
            }

            @media only screen and (min-width: 480px) {
                font-size: 21px;
            }
            span {
                position: relative;
                color: #4caf50; // Green color for the "탄소발자국" text
                font-weight: bold;
                &::before{
                    position: absolute;
                    content:'';
                    top: -9px;
                    left: -18px;
                    width: 18px;
                    height: 31px;
                    background-image: url("../../../../public/images/greenFoot.png");
                    background-size: cover;
                    @media #{$xs} {
                        top: -11px;
                        left: -23px;
                        width: 23px;
                        height: 40px;
                    }

                    @media #{$md} {
                        top: -11px;
                        left: -28px;
                        width: 29px;
                        height: 49px;
                    }
                }
            }
        }
    }

    .wrap{
        display: flex;
        flex-wrap: wrap;
        gap:40px;
        >div{
            flex:1;
        }
    }
    .permtEvent{
        min-width: 250px;
    }
    .special-event{
        min-width: 300px;
        @media #{$xs} {
            min-width: 380px;
        }
        .event-info{
            margin-bottom: 1rem;
            @media #{$xs} {
                margin-right: 1rem;
            }
            @media #{$md} {

            }
        }
        .info__data{
            flex-direction: row;
        }
        .info__data-content{
            font-weight: bold;
            color: #727171;
            font-family: "Nanum Gothic", sans-serif;
        }
        .info__data-content-col{
            font-weight: bold;
            color: #727171;
            font-family: "Nanum Gothic", sans-serif;
        }
        .img-1{
            width: 200px;
            @media #{$xs} {
                width: 240px;
            }
            @media #{$md} {
                width: 270px;
            }
        }
    }

    .movie-profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            margin-bottom: 20px;
        }
        &__info{
            color: #727171;
            font-weight: bold;
        }
    }

    .color-7-1{
        color: $theme-color-7-1;
    }
}