.page-pb {
    padding-bottom: 50px;
    @media #{$md} {
        padding-bottom: 70px;
    }
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 5px;
    @media #{$xs} {
        padding: 0 15px;
    }
    @media #{$md} {
        padding: 0 20px;
    }
}

.info {
    &__big-title {
        position: relative;
        color: #206edc;
        font-family: 'Jua Regular', sans-serif;
        font-size: 40px;
        margin-bottom: 20px;
        @media #{$xs} {
            font-size: 45px;
            margin-bottom: 25px;
        }
        @media #{$md} {
            font-size: 50px;
            margin-bottom: 30px;
        }

        &::after {
            position: absolute;
            content: '';
            background-color: #2b89d3;
            height: 1px;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }
    &__title{
        font-size: 25px;
        font-weight: bold;
        @media #{$xs} {
            font-size: 28px;
        }
        @media #{$md} {
            font-size: 36px;
        }
    }
    &__data{
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        @media #{$xs} {
            font-size: 25px;
        }
        @media #{$sm} {
            flex-direction: row;
        }
        @media #{$md} {
            font-size: 30px;
        }
    }
    &__data-title {
        width: 105px;
        padding: 5px 14px;
        border-radius: 10px;
        background-color: #0052cc;
        color: white;
        font-family: "Nanum Gothic", sans-serif;
        text-align: center;
        display: inline-block; /* 버튼을 인라인 블록으로 표시 */
        border: none; /* 기본 테두리 제거 */
        flex-shrink: 0;
        align-self: flex-start;
        @media #{$xs} {
            width: 130px;
            padding: 10px 16px;
            border-radius: 12px;
        }
        @media #{$md} {
            width: 175px;
            padding: 13px 18px;
            border-radius: 15px;
        }
    }
    &__data-content {
        display: flex;
        align-items: center;
        font-family: "Gmarket Sans Medium", sans-serif;
        margin-left: 15px;
    }
    &__data-content-col {
        display: flex;
        flex-direction: column;
        font-family: "Gmarket Sans Medium", sans-serif;
        margin-left: 15px;
    }
}

.theme-color-1{
    color: $theme-color-1;
}
.theme-color-2{
    color: $theme-color-2;
}
.theme-color-3{
    color: $theme-color-3;
}
.theme-color-4{
    color: $theme-color-4;
}

.theme-bg-color-1{
    background-color: $theme-color-1;
}
.theme-bg-color-2{
    background-color: $theme-color-2;
}
.theme-bg-color-3{
    background-color: $theme-color-3;
}
.theme-bg-color-4{
    background-color: $theme-color-4;
}
.theme-bg-color-5{
    background-color: $theme-color-5;
}