body{
    /* 기본 글꼴 */
    font-family: 'Nanum Gothic',sans-serif;
    word-break: keep-all; /* 단어가 깨지지 않도록 설정 */
    overflow-wrap: break-word; /* 너무 긴 단어는 줄바꿈을 허용 */
}

.page-pb {
    padding-bottom: 50px;
    @media #{$md} {
        padding-bottom: 70px;
    }
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 14px;
    @media #{$md} {
        padding: 0 20px;
    }
}

.info {
    padding-bottom: 40px;
    &__big-title {
        position: relative;
        color: #206edc;
        font-family: 'Nanum Gothic ExtraBold', sans-serif;
        font-size: 24px;
        margin-bottom: 20px;
        @media #{$xs} {
            font-size: 29px;
            margin-bottom: 25px;
        }
        @media #{$md} {
            font-size: 33px;
            margin-bottom: 30px;
        }

        &::after {
            position: absolute;
            content: '';
            background-color: #2b89d3;
            height: 1px;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }
    &__title{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
        @media #{$xs} {
            font-size: 25px;
        }
        @media #{$md} {
            font-size: 30px;
        }
    }
    &__subtitle{
        font-size: 16px;
        @media #{$xs} {
            font-size: 19px;
        }
        @media #{$md} {
            font-size: 23px;
        }
        ul{
            margin-left: 30px;
            list-style: circle;
        }
        &-bold{
            font-weight: bold;
            @media #{$xs} {
                font-size: 19px;
            }
            @media #{$md} {
                font-size: 23px;
            }
        }
    }
    &__data{
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        font-size: 17px;
        @media #{$xs} {
            font-size: 20px;
        }
        @media #{$sm} {
            flex-direction: row;
        }
        @media #{$md} {
            font-size: 23px;
        }
    }
    &__data-col{
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        @media #{$xs} {
            font-size: 25px;
        }
        @media #{$md} {
            font-size: 30px;
        }
    }
    &__data-title {
        width: 87px;
        padding: 5px 11px;
        border-radius: 10px;
        background-color: #0052cc;
        color: white;
        font-family: "Godo M", sans-serif;
        text-align: center;
        display: inline-block; /* 버튼을 인라인 블록으로 표시 */
        border: none; /* 기본 테두리 제거 */
        flex-shrink: 0;
        align-self: flex-start;
        @media #{$xs} {
            width: 110px;
            padding: 7px 13px;
            border-radius: 12px;
        }
        @media #{$md} {
            width: 130px;
            padding: 8px 13px;
            border-radius: 13px;
        }
    }
    &__data-content {
        display: flex;
        align-items: center;
        font-family: "Godo M", sans-serif;
        margin-left: 15px;
    }
    &__data-content-col {
        display: flex;
        flex-direction: column;
        font-family: "Godo M", sans-serif;
        margin-left: 15px;
    }
}
.grid {
    display: grid;
    border: 0.4px solid #000;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 50px;
}
.grid-header {
    background-color: rgba(72, 129, 194, 0.72);
    color: #fff;
    padding: 4px;
    font-weight: bold;
    font-size: 12px;

    @media #{$xs} {
        font-size: 15px;
    }

    @media #{$md} {
        font-size: 20px;
    }
}
.grid-cell {
    border: 1px solid rgba(189, 186, 186, 0.54);
    padding: 4px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    @media #{$xs} {
        font-size: 15px;
        padding: 6px;
    }

    @media #{$md} {
        font-size: 20px;
        padding: 8px;
    }

}
.profile{
    img{
        border: 1px solid #727171;
    }
    &__info{
        display: flex;
        justify-content: center;
        gap: 5px;
        margin-top: 15px;
        .name{
            font-weight: bold;
        }
    }
}

@mixin program-table{
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
    font-family: 'Godo M', sans-serif;
    th, td {
        border: 1px solid #ddd;
        padding: 4px;
        text-align: center;
        @media #{$xs} {
            font-size: 17px;
            padding: 10px;
        }

        @media #{$md} {
            font-size: 20px;
            padding: 12px;
        }
    }

    th {
        background-color: #003366;
        color: white;
        font-size: 16px;

        @media #{$xs} {
            font-size: 19px;
            width: 130px;
        }

        @media #{$md} {
            font-size: 24px;
        }
    }
    td {
        background-color: #ffffff;
        vertical-align: middle;
        .td-sub-content{
            font-size: 12px;
            @media #{$xs} {
                font-size: 13px;
            }

            @media #{$md} {
                font-size: 15px;
            }
        }
    }

    .mergedTrH{
        height: 28px;
        @media #{$xs} {
            height: 39px;
        }

        @media #{$md} {
            height: 33px;
        }
    }
}

.ul-circle{
    list-style: circle;
    margin-left: 30px;
    li{
        text-align: start;
    }
}

.ant-btn{
    font-family: "Nanum Gothic", sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 70px;
}

.theme-color-1{
    color: $theme-color-1;
}
.theme-color-2{
    color: $theme-color-2;
}
.theme-color-3{
    color: $theme-color-3;
}
.theme-color-4{
    color: $theme-color-4;
}
.theme-color-7{
    color: $theme-color-7;
}
.theme-color-t{
    color: $theme-color-t;
}
.theme-color-session1{
    color: $theme-color-session1;
}
.theme-color-session2{
    color: $theme-color-session2;;
}

.theme-bg-color-1{
    background-color: $theme-color-1;
}
.theme-bg-color-2{
    background-color: $theme-color-2;
}
.theme-bg-color-3{
    background-color: $theme-color-3;
}
.theme-bg-color-4{
    background-color: $theme-color-4;
}
.theme-bg-color-5{
    background-color: $theme-color-5;
}
.theme-bg-color-6{
    background-color: $theme-color-6;
}
.theme-bg-color-7{
    background-color: $theme-color-7;
}
.theme-bg-color-session1{
    background-color: $theme-color-session1;
}
.theme-bg-color-session2{
    background-color: $theme-color-session2;;
}