@font-face {
    font-family: 'NotoSansKR';
    src: url('../fonts/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;  // 지원하는 가중치 범위
}

@font-face {
    font-family: 'Nanum Gothic';
    src: url('../fonts/Nanum_Gothic/NanumGothic-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Nanum Gothic ExtraBold';
    src: url('../fonts/Nanum_Gothic/NanumGothic-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Jua Regular';
    src: url('../fonts/Jua/Jua-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gaegu Light';
    src: url('../fonts/Gaegu/Gaegu-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Gaegu Regular';
    src: url('../fonts/Gaegu/Gaegu-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Gaegu Bold';
    src: url('../fonts/Gaegu/Gaegu-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Nanum Pen Script';
    src: url('../fonts/Nanum_Pen_Script/NanumPenScript-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gmarket Sans Medium';
    src: url('../fonts/GmarketSansTTF/GmarketSansTTFMedium.ttf') format('truetype');
}
@font-face {
    font-family: 'Gmarket Sans Light';
    src: url('../fonts/GmarketSansTTF/GmarketSansTTFLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Gmarket Sans Bold';
    src: url('../fonts/GmarketSansTTF/GmarketSansTTFBold.ttf') format('truetype');
}