.home {
    width: 100%;
    display: block;
    min-height: 100vh; /* 화면 높이에 맞게 조정 */
    @media screen and (orientation: landscape) {
        min-height: 850px;
    }
    background: url(../../public/images/background.jpg);
    background-size: cover; /* 이미지가 배너 크기에 맞게 조정되도록 함 */
    background-position: center; /* 중앙에 이미지를 위치시킴 */
    padding-bottom: 70px;

    &__logo {
        img {
            width: 300px;
            height: 150px;
            @media #{$sm} {
                width: 350px;
                height: 170px;
            }
            @media #{$md} {
                width: 400px;
                height: 200px;
            }
        }

        @media #{$sm} {
            padding: 20px 0;
        }
    }

    &__signiture-logo {
        img {
            width: 300px;
            @media #{$sm} {
                width: 500px;

            }
            @media #{$md} {
                width: 650px;
            }
        }

        @media #{$sm} {
            padding: 20px 0;
        }
    }

    &__slogunText {
        color: #2a6e9f;
        font-size: 50px;
        font-family: 'Nanum Pen Script', sans-serif;
        @media #{$sm} {
            font-size: 60px;

        }
        @media #{$md} {
            font-size: 70px;
        }
    }
    &__preRegiBtnArea{
        padding-top: 20px;
        padding-bottom: 20px;
        .ant-btn-primary{
            background: #1788e1;
        }
        .ant-btn.ant-btn-round{
            border-radius: 16px;
        }
    }
    .video-title{
        font-family: "Nanum Gothic ExtraBold", sans-serif;
        color: #566375;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
        @media #{$xs} {
            font-size: 20px;
        }
        @media #{$md} {
            font-size: 26px;
        }
        &-icon{
            width: 20px;
            height: auto;
            @media #{$xs} {
                width: 24px;
            }
            @media #{$md} {
                width: 28px;
            }
        }
    }
    .video-container{
        width: 100%;
        iframe{
            max-width: 800px;
            width: 100%;
            height: auto;
            aspect-ratio: 560/315;
        }
    }
}