.awards{
    padding-bottom: 50px;
    &__mainImage{
        img{
            width: 100%;
            border-radius: 20px;
            @media #{$xs} {
                border-radius: 25px;
            }

            @media #{$md} {
                border-radius: 30px;
            }
        }
    }
    &__performanceImage{
        img{
            width: 100%;
        }
    }
    &__program{
        @include program-table;
    }
}