.art-contest{
    padding-bottom: 50px;
    &-guide{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 50px;
    }
    .awards__ul{
        list-style: circle;
        margin-left: 30px;
    }
    .ant-btn-primary{
        background: #1788e1;
    }
    .ant-btn{
        height: 50px;
    }
    .ant-btn.ant-btn-round{
        border-radius: 16px;
    }
}